html{
    scroll-behavior:smooth;
}
body {
    width: 1000px;
    margin: 0 auto;
}
.wrap {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /*border-radius: 50%;*/
    background-color: orange;
    border: 5px solid #1357fd;
    padding: 20px;
    text-align: center;
    line-height: 250px;
    font-size: 15px;
    color: red;
    cursor: pointer;
    box-sizing: border-box;
}
.wrap .box {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #08fc2e;
}

.wrap .child {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #0310ff;
}

.menu {
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #dae3d1;
    display: none;
    z-index: 99;
}
.menu span {
    display: block;
    line-height: 20px;
    color: yellow;
    padding-left: 10px;
    cursor: pointer;
}
.menu span:hover {
   background-color: #1357fd;
}

.qq {
    width: 200px;
    height:400px;
    border: 10px dotted pink;
    border-radius: 5px;
    position: fixed;
    left:calc(100vw - 250px);
    top: 50px;
}

.qq .photo {
    width: 180px;
    height: 100px;
    background-color: #1357fd;
    cursor: pointer;
}

.qq .none {
    width: 200px;
    height: 100px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: -200px;
    display: none;

}
.qq .none .child-none {
    width: 180px;
    height: 100%;
    background-color: #f7ff07;
}

